<div id="footer">
  <a href="https://github.com/nabeta/we6cat">We6cat <%= We6cat::VERSION %></a>
  + <a href="https://github.com/nabeta/enju_leaf">Next-L Enju Leaf <%= EnjuLeaf::VERSION %></a>
  Developed by 
  <a href="https://github.com/nabeta">Kosuke Tanabe</a>
  (<a href="https://twitter.com/nabeta">@nabeta</a>)

  <!--
  <p>
    このサービスは個人的に作成したもので、NIIとは何ら関係がありません。<br />
    さようなら、ありがとう、NACSIS Webcat。（2013年3月8日）
  </p>
  -->
</div>
